sa_key.json
.ansible_vault_pass.txt
.kube
local-infra/haproxy/keepalived.conf
ansible/hosts.ini
ansible/.kube/
# Игнорируем стейт-файлы инфраструктуры
*.tfstate
*.tfstate.backup
.terraform/
.tofu/
# Игнорируем всё внутри папки terraform, что относится к стейту и плагинам
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
index.html
# Локальные файлы переменных
*.tfvars
*.tfvars.json

# Скриншоты и изображения
*.png
*.jpg
*.jpeg

**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
.yc-token.kube/
