[defaults]
# Указываем относительный или абсолютный путь к файлу с паролем расшифровки.
# Чтобы не привязываться к домашней папке конкретного ПК, можно сослаться на файл в корне,
# НО обязательно скрыть его от Гита
vault_password_file = ./.ansible_vault_pass.txt
host_key_checking = False