global
    log /dev/log local0

defaults
    log     global
    mode    tcp
    timeout connect 10s
    timeout client  1m
    timeout server  1m
    default-server init-addr last,libc,none

frontend k3s-frontend
    bind *:6443
    mode tcp
    default_backend k3s-backend

backend k3s-backend
    mode tcp
    # Переключаемся обратно на чистый TCP-чек порта. 
    # Это гарантирует, что как только K3s откроет порт, HAProxy сразу пустит трафик.
    option tcp-check
    balance roundrobin
    
    server k3s-master-1 172.20.0.11:6443 check inter 2s fall 3 rise 2
    server k3s-master-2 172.20.0.12:6443 check inter 2s fall 3 rise 2
    server k3s-master-3 172.20.0.13:6443 check inter 2s fall 3 rise 2




